.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
* Login css
*/
.login-wrapper {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  min-width: 400px;
}

.main {
  min-height: 100vh;
  background-image: url('../src/draft/thangnd/background-login.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  padding: 10px;
  text-align: center;
}

.label-input {
  font-weight: 500;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: small;
}

.link:hover {
  color: purple;
  text-decoration: none;
}

.button-login {
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.button-login:hover {
  cursor: pointer;
}

.prepend {
  display: flex;
  padding: 5px 10px;
  align-items: center;
  background-color: darkgrey;
}

/* Cart */
.product {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.product-image {
  width: 150px;
  padding-right: 20px;
}

.no-of-products {
  display: flex;
  vertical-align: center;
}

.inline {
  display: inline-block;
  vertical-align: top;
}
